/* Catppuccin */
@define-color background #1E1D2F;
@define-color highlight  #575268;
@define-color foreground #D9E0EE;
@define-color comment    #988BA2;
@define-color cyan       #89DCEB;
@define-color green      #ABE9B3;
@define-color orange     #F8BD96;
@define-color pink       #F5C2E7;
@define-color blue       #96CDFB;
@define-color red        #F28FAD;
@define-color yellow     #FAE3B0;

* {
  border: none;
  border-radius: 0;
  font-family: "Open Sans";
  font-size: 20px;
  min-height: 0;
  margin: 0 10px;
}

window#waybar.main {
  background: @background;
  border-bottom: 3px solid @pink;
  color: @yellow;
}

@keyframes blink {
  to {
    background-color: @foreground;
    color: @foreground;
  }
}

:hovered {
  
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio {
  margin: 0 10px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.good {
  color: @yellow;
}

#battery.warning {
  color: @orange;
}

#battery.critical {
  color: @pink;
}

#battery.warning:not(.charging), #battery.critical:not(.charging) {
  padding: 0 10px;
  border-bottom: 3px solid @highlight; /* Same as window#waybar for consistency */
  background: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: @yellow;
}

#clock {
  color: @pink;
}

#cpu {
  color: @red;
}

#memory {
  color: @cyan;
}

#network {
  color: @blue;
}

#pulseaudio {
  color: @cyan;
}

#temperature {
  color: @orange;
}

#temperature.critical {
  color: @red;
}

#workspaces button {
  background: transparent;
  color: @comment;
  border-bottom: 3px solid transparent;
  margin: 0;
}

#workspaces button.focused {
  background: @highlight;
  border-bottom: 2px solid white;
  color: @orange;
}

window#waybar.mode {
  background: transparent;
}
