/*
=============================================
		Ayu palette
=============================================
Name	Normal	Light	Dark	Notes
====	======	=====	====	=====
accent	#FFAA33	#FFCC85	#	coolors
black	#242936	#######	#1A1F29	
blue	#399EE6	#73D0FF	#	ayu
cyan	#4CBF99	#95E6CB #	ayu
gray	#565B66	#CCCAC2	#5C6166	
green	#6CBF43	#87D96C	#	ayu
orange	#FA8D3E	#FFAD66	#	ayu
pink	#FF7383	#FFADB7	#	l+co
red	#E65050	#F2A6A6	#	l+co
tomato	#F07171	#F28779	#	ayu
violet	#A37ACC	#DFBFFF	#695380	
white	#FCFCFC	#######	#######	
yellow	#F2AE49	#FFD173	#	ayu
*/


* {
    padding: 0 9px;

    font-family: Inconsolata Medium;
    font-size: 17px;
    color: #242936;

    transition: background-color 0.2s;
}

#waybar {
    background: transparent;
}

tooltip {
    background: #FCFCFC;
}
tooltip label {
    text-shadow: none;
}


/*
 * Main
 */
/* Left */
#clock {
    border-radius: 14px 0 0 15px;
    background: #FCFCFC;
}

#idle_inhibitor.activated {
    background: #FCFCFC;
}
#idle_inhibitor.deactivated {
    background: #242936;
    color: #CCCAC2;
}

#backlight {
    background: #242936;
    color: #CCCAC2;
}
#backlight.dim {
    background: #565B66;
    color: #FCFCFC;
}
#backlight.bright {
    background: #FCFCFC;
    color: #242936;
}

#pulseaudio {
    background: #FCFCFC;
}

#mpd {
    border-radius: 0 15px 15px 0;
    background: #FCFCFC;
}

/* Center */
#workspaces {
    border-radius: 15px;
    padding: 0;
    background: #FCFCFC;
}
#workspaces button {
    border: none;
    border-radius: 15px;
    padding: 0 1.5px;
}
#workspaces button:hover {
    background: @theme_unfocused_fg_color;
}
#workspaces button.focused {
    background: #399EE6;
}


/* Right */
#network {
    border-radius: 15px 0 0 15px;
    background: #73D0FF;
}

#temperature {
    background: #FFAD66;
}
#temperature.critical {
    background: #E65050;
}

#cpu {
    background: darkslateblue;
    color: #FCFCFC;
}

#custom-gpu {
    background: #FF7383,
}

#memory {
    background: #695380;
    color: #FCFCFC;
}

#battery {
    border-radius: 0 15px 15px 0;
    background: #87D96C;
}
#battery.good {
    background: #95E6CB;
}
#battery.warning {
    background: #FFAA33;
}
#battery.critical {
    background: #E65050;
}


/*
 * Mode
 */
/* Center */
#waybar.mode {
    font-size: 30px;
}

#mode {
    border: 2px solid #565866;
    border-radius: 30px;
    background: #FCFCFC;
}
