[Unit]
Description=Dotfiles Synchronization

[Service]
Type=oneshot
WorkingDirectory=/home/weathercold/src/dotfiles
ExecStart=/usr/bin/sudo eix-remote update
User=weathercold