[Unit]
Description=Dotfiles Synchronization
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/weathercold/src/dotfiles
ExecStart=/home/weathercold/src/dotfiles/scripts/autoupdate.sh